.hide { display: none; }
.clear { clear: both; }

.main .left { float : left; width: 200px; }
.main .content { margin-left: 205px; }

.current_server_list { min-height: 50px; }
.current_server_list { border: solid 1px #000; }
.current_server_list .single_server { }
.current_server_list .single_server.active { background-color: blue; color: #fff; }

.server_detail { min-height: 500px; }
.server_detail { border: solid 1px #000; }
.server_detail>.tabs { width: 100%; }
.server_detail>.tabs>div { display: inline-block; margin: 10px; }

table .num { text-align: right; }

.output {}
.output>.title { font-size: 20px; font-weight: bold; height: 22px; line-height: 22px; }
.output>.buttons { float: right; }
.output>.buttons>button { float: right; }
.output>.lines { height: 200px; overflow: hidden; position: relative; z-index: 1 }
.output>.lines>.scroller { word-break: break-all; font-size: 9px; }
